:root{
    --color-bg:#67C29F;
    --color-purple: #4A62EB;
    --color-white: #F2F0F3;
    --color-black: #3c3f46;
}
*, *:before, *:after{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: "Sora", sans-serif;
}
